<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- oracle connection configuration -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.0.60:1521:labor</property> -->
		<property name="hibernate.connection.url">jdbc:oracle:thin:@132.148.25.110:1521:laborweb</property>
		<property name="hibernate.connection.username">laborweb</property>
		<property name="hibernate.connection.password">laborweb</property>

		<!-- Mysql Connection - Begin -->
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/labor?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8</property> -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
		<!-- <property name="hibernate.connection.username">root</property> -->
		<!-- <property name="hibernate.connection.password">root</property> -->

	 <!-- <property name="hbm2ddl.auto">update</property>  -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>

		<property name="use_sql_comments">true</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.timeout">100</property>

		<property name="connection.release_mode">after_statement</property>

		<mapping class="mn.odi.labor.entities.common.User" />
		<mapping class="mn.odi.labor.entities.common.Department" />
		<mapping class="mn.odi.labor.entities.common.Organization" />
		<mapping class="mn.odi.labor.entities.admin.GeneralType" />
		<mapping class="mn.odi.labor.entities.common.AccessLog" />

		<!-- Envers Configuration -->
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-insert" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-update" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-delete" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="pre-collection-update" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="pre-collection-remove" />
		<listener class="org.hibernate.envers.event.AuditEventListener"
			type="post-collection-recreate" />

	</session-factory>

</hibernate-configuration>
